{% extends 'base.html'%}
{% block title %}
    Search
{% endblock %}

{% block body %}
    <div class="booking-div">
        <script src="https://www.booking.com/affiliate/prelanding_sdk"></script>

          <div id="bookingAffiliateWidget_08512b5a-a393-439f-be16-7fb60bb3b65c">&nbsp;</div>

          <script>
              (function () {
                  var BookingAffiliateWidget = new Booking.AffiliateWidget({
          "iframeSettings": {
            "selector": "bookingAffiliateWidget_08512b5a-a393-439f-be16-7fb60bb3b65c",
            "responsive": true
          },
          "widgetSettings": {}
        });
              })();
          </script>
    </div>
{% endblock %}