{% extends 'base.html'%}
{% block title %}
    Carbon Calculate
{% endblock %}

{% block body %}
    <div style="text-align:center;">
        <p style="margin-top: 5px;">Rates from date: {{ data }}</p>
    </div>
    <div style="max-width:80%; display:block; margin: auto;">
        <img class="img-fluid" src="{{ url_for('static', filename='img/forest.jpg') }}" alt="..."/>
    </div>

    <div class="button-div">
        <form method="post">
            <br>
          <label for="input1">From City:</label>
          <input type="text" id="input1" name="input1" placeholder="Tel Aviv">
          <label for="input2">To City: </label>
          <input type="text" id="input2" name="input2" placeholder="Barcelona">
          <label for="input3"> Passengers:</label>
          <input type="number" id="input3" name="input3"  required min="1"><br><br>
          <div style="max-width:15%; display:block; margin: auto;">
            <img class="img-fluid" src="{{ url_for('static', filename='img/green_feet.jpeg') }}" alt="..."/>
            </div>

          <input class="search-button" type="submit" value="Calculate" >
        </form>
        {% if carbon_kg is not none %}
            <div style="text-align:center;">
                <H2 style="margin-top: 5px;">
                 {{ from_city }} {{ to_city }} {{ distance }} {{ carbon_kg }}</H2>

            </div>

        {% endif %}
    </div>
{% endblock %}