{% extends 'base.html'%}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <!-- Image block -->
        <div>
            <div class="image-container">
              <a href="/airlines">
                <img src="{{ url_for('static', filename='img/green_feet.jpeg') }}" alt="green-feet" width="400" height="276">
              </a>
              <a href="/carbon">
                <img src="{{ url_for('static', filename='img/greenfly.jpg') }}" alt="Carbon" width="400" height="276">
              </a>
            </div>
        </div>

    <!-- Kiwi-->
        <div>
            <h2>Book cheap flights from Tel Aviv</h2>
            <h3> In {{ cheap_month }} </h3>
            <h6>Price for Round-Trip(2 ways) for One person </h6>
            <div>
                <form method="post">
                    <label for="from_month">Month:</label>
                    <select name="from1" id="from1">
                        {% for month in months %}
                            <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                    <label for="Weeks">Week: </label>
                    <select name="from2" id="from2">
                        {% for week in weeks %}
                            <option value="{{ week }}">{{ week }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <button class='search-button'type="submit">Go</button>
                </form>
            <br><br>
            </div>
            <div id="widget-holder"></div>
                <script
                data-currency="ILS"
                data-lang="en"
                data-affilid="haveacaronlywidgets"
                data-from="tel-aviv_il"
                data-departure="{{ data_departure }}"
                data-return="{{ data_return }}"
                data-cabin="ECONOMY"
                data-transport-types="FLIGHT"
                data-stop-number="0"
                data-limit="25"
                data-tile-limit="20"
                data-sort-by="price"
                data-results-only="true"
                src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
                </script>
        </div>
        <div class="button-div">
            <h1>OR</h1>
            <a href="/search"><button class="search-button">Search Flight</button></a>
        </div>

        <div class="booking-div">
                <hr>
                <h2>Online Hotel Booking</h2>
                <script src="https://www.booking.com/affiliate/prelanding_sdk"></script>

                <div id="bookingAffiliateWidget_08512b5a-a393-439f-be16-7fb60bb3b65c">&nbsp;</div>

              <script>
                  (function () {
                      var BookingAffiliateWidget = new Booking.AffiliateWidget({
              "iframeSettings": {
                "selector": "bookingAffiliateWidget_08512b5a-a393-439f-be16-7fb60bb3b65c",
                "responsive": true
              },
              "widgetSettings": {}
            });
                  })();
              </script>
        </div>

{% endblock %}