{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <!-- Posts block  -->
    <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                {{ thumbnail1 }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ text1 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">{{ stars1 }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                {{ thumbnail2 }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ text2 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">{{ stars2 }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                {{ thumbnail3 }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ text3 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">{{ stars3 }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                {{ thumbnail4 }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ text4 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">{{ stars4 }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                {{ thumbnail5 }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ text5 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">{{ stars5 }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                {{ thumbnail6 }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ text6 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">{{ stars6 }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
        <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/posts'">Add post</button>
  </div>
    <!-- Image block -->
    <div>
        <div class="image-container">
            <a href="/airlines">
                <img src="{{ url_for('static', filename='img/green_feet.jpeg') }}" alt="green-feet" width="400"
                     height="276">
            </a>
            <a href="/carbon">
                <img src="{{ url_for('static', filename='img/greenfly.jpg') }}" alt="Carbon" width="400" height="276">
            </a>
        </div>
    </div>

    <!-- Kiwi-->
    <div>
        <h2>Book cheap flights from Tel Aviv</h2>
        <!-- Kiwi-->
        <div id="widget-holder"></div>
            <script
            data-currency="ILS"
            data-lang="en"
            data-affilid="haveacaronlywidgets"
            data-from="tel-aviv_il"
            data-departure="{{ data_departure }}"
            data-return="{{ data_return }}"
            data-cabin="ECONOMY"
            data-transport-types="FLIGHT"
            data-stop-number="1"
            data-limit="20"
            data-sort-by="price"
            src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
            </script>
        </div>

    <hr>
    <br><br>
    <!-- Booking widget-->
    <div class="booking-div">
        <ins class="bookingaff" data-aid="2342457" data-target_aid="2342457" data-prod="map" data-width="100%"
             data-height="590" data-lang="en" data-currency="ILS" data-dest_id="0" data-dest_type="landmark"
             data-latitude="34.7753949" data-longitude="32.4217786" data-landmark_name="Cyprus" data-mwhsb="0"
             data-address="Paphos, Cyprus" data-zoom="9">
            <!-- Anything inside will go away once widget is loaded. -->
            <a href="//www.booking.com?aid=2342457">Booking.com</a>
        </ins>
        <script type="text/javascript">
            (function (d, sc, u) {
                var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
                s.type = 'text/javascript';
                s.async = true;
                s.src = u + '?v=' + (+new Date());
                p.parentNode.insertBefore(s, p);
            })(document, 'script', '//cf.bstatic.com/static/affiliate_base/js/flexiproduct.js');
        </script>
    </div>
    <br>

{% endblock %}