{% extends 'base.html'%}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <!-- Kiwi-->
        <div>
            <h2>Book cheap flights</h2>
            <h4>Price for Round-Trip(2 ways) for One person</h4>
            <div id="widget-holder"></div>
                <script
                data-currency="ILS"
                data-lang="en"
                data-affilid="haveacaronlywidgets"
                data-from="tel-aviv_il"
                data-departure={{ data_departure }}
                data-return={{ data_return }}
                data-cabin="ECONOMY"
                data-transport-types="FLIGHT"
                data-stop-number="0"
                data-limit="25"
                data-tile-limit="20"
                data-sort-by="price"
                data-results-only="true"
                src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
                </script>
        </div>
        <div class="button-div">
            <h1>OR</h1>
            <a href="/search"><button class="search-button">Search Flight</button></a>
        </div>
{% endblock %}