{% extends 'base.html'%}
{% block title %}
    Review
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1> Please tell US about your travel adventures</h1>
        <h3>Add Review</h3>
        <h4>{{ error_db }}</h4>
        <div>
            <form method="post" enctype="multipart/form-data">
                <input type="text" name="title" id="title" class="form-control" placeholder="Place name" required><br>
                <input type="text" name="country" id="country" class="form-control" placeholder="Country" required><br>
                <textarea type="text" name="positive" id="positive" class="form-control" placeholder="Positive Review" required></textarea><br>
                <input type="file" name="file" id="file" class="form-control" placeholder="Image" accept="image/jpeg, image/png, image/jpg"><br>
                <label for="rating">Rating:</label>
                <select name="rating" id="rating">
                    {% for r in rating %}
                        <option value="{{ r }}">{{ r }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" class="btn btn-success" value="Send Review"> <br><br>
            </form>
        </div>
        <hr>
        <div>
            <h3 class="h3">Registration  New User:</h3>
            <form action="/register" method="post">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <br>
                <input type="submit" class="btn btn-success" value="Add User">
            </form>
            <h6>{{ status_registration }}</h6>
        </div>
    </div>
    <br>

{% endblock %}