<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h3>About</h3>
<!-- Kiwi-->
        <div>
            <h2>Book cheap flights</h2>
            <h4>Price for Round-Trip(2 ways) for One person</h4>
            <h6>Our set up your custom trip</h6>
        <div id="widget-holder"></div>
            <script
            data-currency="ILS"
            data-lang="en"
            data-affilid="haveacartestwidjet"
            data-from="tel-aviv_il"
            data-departure="2023-05-29_2023-05-31"
            data-return="2023-07-05_2023-07-08"
            data-cabin="ECONOMY"
            data-transport-types="FLIGHT"
            data-stop-number="0"
            data-results-only="true"
            src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
            </script>
        </div>
</body>
</html>