{% extends 'base.html'%}
{% block title %}
    Search
{% endblock %}

{% block body %}
    <div>
        <!-- Kiwi-->
        <h2>Flight Search</h2>
        <div id="widget-holder"></div>
            <script
            data-currency="ILS"
            data-lang="en"
            data-affilid="haveacaronlywidgets"
            data-from="tel-aviv_il"
            data-inbound-days="TUE,WED,THU,FRI,SAT"
            data-outbound-days="SUN,MON,TUE,WED,SAT"
            data-cabin="ECONOMY"
            data-transport-types="FLIGHT"
            data-stop-number="0"
            data-limit="3"
            data-sort-by="price"
            src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
            </script>
    </div>
{% endblock %}